*
!.gitignore
!.gitattributes
!package.json
!.jshintrc
!.csslintrc
!csslint.xml
!jshint.xml
!Gruntfile.js
!gruntinit.lnk
!README.md

!*.Master
!*.svc
!*.vbs
!wse3policy.config
!packages.config
!parameters.config
!*.xml
!*.csproj
!*.user
!*.aspx
!*.cs
!*.html
!*.ico
!*.asax

!CodeShare
CodeShare/*

!CodeShare/App_Themes
!CodeShare/App_Themes/**

!CodeShare/App_Code
!CodeShare/App_Code/**

!CodeShare/CMSAdminControls
CodeShare/CMSAdminControls/**

!CodeShare/CMSAdminControls/CKeditor
CodeShare/CMSAdminControls/CKeditor/**

!CodeShare/CMSAdminControls/CKeditor/ckeditor.js
!CodeShare/CMSAdminControls/CKeditor/config.js
!CodeShare/CMSAdminControls/CKeditor/contents.css
!CodeShare/CMSAdminControls/CKeditor/styles.js

!CodeShare/CMSVirtualFiles
!CodeShare/CMSVirtualFiles/**

!CodeShare/Custom
!CodeShare/Custom/**

!CodeShare/bin
CodeShare/bin/**

!CodeShare/bin/ImageResizer*



*.zip
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store